# ServidorCentral en el servidor universitario
ServerCentral = logistica:tcp -h 10.147.17.115 -p 12345
# MaquinaCafe también en el servidor universitario
MaquinaCafe = abastecer:default -h 10.147.17.115 -p 12346